* {
    font-family: Lato !important;
}
h1 {
	font-size: 50px;
    line-height: 50px;
    color:#195568;
    letter-spacing: 0;
    padding: 25px 0 !important;
}
h2 {
	font-size: 40px;
    line-height: 40px; 
    color:#195568;
    padding: 25px 0 !important;
}
h3 {
	font-size: 30px;
    line-height: 30px;
    color:#195568;
    padding: 25px 0 !important;
}
.blogPosts {
    margin-top: 80px;
}
.light_scheme h1 {
    color:#195568;
}
p {
	font-size: 16px;
    color: #848484;
}
img.full-with-image {
    width: 100%;
}
.travel-container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto 50px !important;
}
.wpb_single_image h2{
    text-align: center;
    font-weight: 500;
}
.navbar-brand img {
    max-width: 98px;
}
.bka_menu {
    padding-top: 0px;
}
.navbar.navbar-default {
    padding-top: 10px;
}
.bka_footer,
.bkaTopmenu,
.bka_menu, .navbar-collapse.in, .navbar-collapse.colapsing, #mainNavUl .dropdown-menu, #mainNavUlLeft .dropdown-menu, #mainNavUlRight .dropdown-menu {
    background: rgba(0, 0, 0, 0.89) !important;
}
.bka_menu, .bka_menu .navbar-default .navbar-nav>li.active>a, .dropdown-menu > li.active > a {
    color: #195568;
}
.navbar-default .navbar-toggle .icon-bar {
    background:  #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff; 
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: rgba(0, 0, 0, 0.89);
}
.blogPosts .entry {
    margin-top: 0;
    padding-top: 0;
    border: none;
}
.footer-logo {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    display: inherit;
}
.property-type-tabs {
    width: 100%;
    text-align: center;
}
.property-type-tabs li{
    width: 24.5%;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;

}
.property-type-tabs li a{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #000;
    padding: 20px;
    color: #848484;
    text-transform: uppercase;
}
.property-type-tabs li a.active,
.property-type-tabs li a:hover {
    color: #195568;
    border-bottom: 1px solid #195568;
}
.post {
    padding-right: 0 !important;
}
.bka_footer {
    padding: 30px 5px 0 !important;
}
.bka_footer ul {
    list-style: none;
}
.bka_footer ul li:first-of-type a{
    font-size: 16px;
}
.bka_footer hr {
    border-top: 3px solid #fff;
    width: 30%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
}
.bka_footer p,
.bka_footer a,
.bka_footer ul li{
    color: #fff;
}
.bka_footer .copyright {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.bka_footer ul li a:hover,
.bka_footer .link-travel:hover,
.bka_footer i.fa:hover:hover {
    color: #195568;
}
div.wpcf7-validation-errors {
    display: none !important;
}
.post-content {
    margin: 0 auto !important;
}
.page-header {
    margin: 0;
    border: none;
}
.blogPosts .container{
    margin-top: 80px;
}
.blog h1, body.single-post h1 {
    margin-bottom: 20px;
}
.second-page {
    margin-top: 80px;
    // padding-top: 50px;
    background: url('/wp-content/assets/images/brushed.png');
}
.category,
#blogPosts {
    background: url('/wp-content/assets/images/brushed.png');
}
.category .container h1 {
    text-align: center;
    margin-bottom: 50px;
}
.category .vc_row {
    margin: 0;
}

.news-posts .img-responsive{
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}
.news-posts .entry {
    width: 80%;
    margin: 0 auto;
}
.news-posts .vc_col-sm-6 {
    align-items: center !important;
}
.guestbook-posts p,
.news-posts p {
    color: #848484;
}
.guestbook-posts h2,
.news-posts h2 {
    margin-bottom: 20px;
    color: #195568;
}
.reverse {
    flex-direction: row-reverse;
}
.category .image-holder {
    padding: 0 20px;
}
.guestbook-posts {
    padding: 0 20px 20px;
}
#map,
#relaxMap {
    min-height: 300px;
}
a.news-link:hover {
    color: #195568;
}
.gm-style-iw h4{
    text-align: center;
    color: #195568
}
.gm-style-iw.custom-iw div {
    overflow: visible !important;
}
.gm-style-iw #content {
    margin-right: -20px;
}
.gm-style-iw.custom-iw {
    margin-right: -20px;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
    background-color: transparent !important;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0 !important;
}
.contact input[type="number"],
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="submit"],
.contact textarea,
.contact select{
    width: 100%;
    height: 45px;
    margin: 20px auto;
    border: 1px solid #3d4049;
    background-color: transparent;
    color: #616161;
    padding-left: 15px;
    font: 400 15px / 18px Lato;
}
.contact textarea {
    height: 150px;
    resize: none;
}
.contact input[type="submit"] {
    background-color: #195568;
    border: none;
    height: 38px;
    color: #fff;
    font: 900 15.15px / 24px Lato;
}
.contact input[type="submit"]:hover {
  background-color: #db7435;
}
.contact label{
    font: 500 20px / 18px Lato;
    width: 100%;
}
#contact h4 {
    color: #195568;
    text-transform: uppercase;
}
#contact .wpb_content_element {
    margin-bottom: 25px;
}
i.fa {
    cursor: pointer;
}
i.fa:hover{
    color: #195568;
}
.request-form .wpcf7-list-item-label,
.request-form .small-text{
    font: 400 13.27px Lato;
}
span.wpcf7-list-item { 
    display: block;
    color: #3d4049;
    margin-left: 0;
    margin-top: 15px;
}
video {
    width: 100%;
    min-height: auto;
}
.home .vc_column-inner {
    padding: 0;
}
.center-block,
.center-text-block {
    position: absolute;
    top: 35%;
    margin-left: 250px;
}
.center-text-block {
    margin-left: 300px;
    top: 40%;
}
.center-block{
    background: rgba(34,34,34,0.75);
    width: 450px;
    height: 180px;
    color: #fff;
    -webkit-filter: blur(10px); /* Chrome, Opera, etc. */
    filter: blur(10px);
}
.center-text-block p,
.center-text-block h1 {
    color: #fff;
} 
.center-block p,
.center-block h1 {
    color: rgba(34,34,34,0.75);
}
#booking {
    min-height: 450px;
    overflow: hidden;
}
.second-page .wpb_single_image figure,
.second-page .wpb_single_image img,
.second-page .vc_single_image-wrapper {
    width: 100%;
}
.second-page .vc_single_image-wrapper {
    margin-bottom: 25px;
}
#booking .img-booking img{
    height: 450px;
}
#booking .img-booking,
#booking .img-booking + div {
    margin-bottom: 0 !important;
}
#booking .item{
    position: relative;
    cursor: pointer;
}
#booking .info{
    position: absolute;
    bottom: -230px;
    height: 230px;
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    padding: 20px;
    -webkit-transition: bottom 1s; /* Safari */
    transition: bottom 1s;
}
#booking .item:hover .info {
    bottom: 0;
    -webkit-transition: bottom 1s; /* Safari */
    transition: bottom 1s;
}
#booking .price {
    float: right;
    font: 800 30px/40px Lato;
    color: #fad44c;
}
#booking .button-border {
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    margin-top: 10px;
}
#booking .button-border-container {
    margin-top: 10px;
}
#booking .button-border:hover {
    border: 1px solid #fad44c;
    padding: 5px;
    color: #fad44c;
    cursor: pointer;
}
#booking .desc {
    font: 600 14px/30px Lato;
}
#booking .title {
    font: 600 22px/30px Lato;
}
#booking .country {
    font: 600 18px/30px Lato;
}
#booking .country img {
    margin-left: 5px;
}
#booking .desc i {
    margin-right: 4px;
}
.countries-block a img{
    margin-right: 5px;
}
.countries-block a{
    cursor: pointer;
    display: inline-block;
    width: 50%;
    color: #195568;
    font-size: 16px;
    line-height: 24px;
}
.countries-block a:hover {
    color: #195568;
}
.second-page #booking .info {
    position: static;
    background: transparent;
}
.second-page #booking .price {
    float: none;
}
.second-page #booking .info {
    color: #848484;
}
.second-page h1 {
    margin-top: 25px;
}
.tx-slide-button {
    margin-top: 10px !important;
}
@media (min-width: 768px) {
    .bka_menu {
        height: 80px;
    }
    .request-form input[type="number"] {
        width: 310px;
    }
}
@media (max-width: 1024px) {
	h1 {
		font-size: 40px;
		line-height: 40px;
	}
	h2 {
		font-size: 29px;
        line-height: 30px; 
	}
	h3 {
		font-size: 20px;
	}
	p {
		font-size: 15px;
        line-height: 17px;
	}
    .blogPosts .container {
        margin-top: 0;
    }
    .travel-container {
        margin:0 auto 0 !important;
    }
    .bka_menu {
        padding: 0 30px;
    }
    .navbar-right a {
        padding: 0 10px !important;
    }
    .center-block,
    .center-text-block {
        top: 35%;
        margin-left: 150px;
    }
    .center-text-block {
        margin-left: 200px;
        top: 40%;
    }
    .blogPosts {
        margin-top: 80px;
    }
    .videoWrapper video {
        display: none;
    }
    .center-text-block,
    .center-block {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0; 
        color: #fff;
    }
    .center-text-block p,
    .center-text-block h1 {
        color: #fff;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
        line-height: 25px; 
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .news-posts .entry {
        padding: 40px 0;
        width: 100%;
    }
    .blogPosts .img-responsive {
        margin: 0 auto 40px;
    }
    .news-posts .img-responsive{
        margin-bottom: 0;
    }
    .second-page,
    .blogPosts {
        margin-top: 70px;
    }
    .footer-logo {
        max-width: 280px;
        margin-bottom: 20px;
        position: static;
    }
    .bka_footer hr {
        width: 40%;
        text-align: center;
    }
    .property-type-tabs li {
        width: 49%;
    }
}

